Repository macisamuele/rust-swagger-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ci-configurations

mypy:
  name: mypy
  entry: mypy
  language: python
  language_version: python3.6
  additional_dependencies:
  - mypy==0.620

ci-configurations:
  name: ci-configurations
  language: python
  language_version: python3.6
  additional_dependencies:
  - jsonschema>=2.6.0
  - ruamel.yaml
  entry: python
  args:
  - ci/ci-config.py
  - --validate
  - --generate
  pass_filenames: false

Make loaders a public module
  rust/src/lib.rs
Due: none

Fix broken tests on windows
  rust/src/loaders.rs
Due: none

Move tests into dedicated testing directory
  .idea/runConfigurations/test___all_features___tests.xml
  Cargo.toml
  rust/build.rs
  rust/src/lib.rs
  rust/src/loaders.rs
  rust/tests/luncher.rs
  rust/tests/test_lib.rs
  rust/tests/test_loaders.rs
  tox.ini
Due: none

Remove not-needed inlining from loaders
  rust/src/loaders.rs
Due: none

Add support for URL syntax validation
  rust/src/errors.rs
  rust/src/loaders.rs
  rust/tests/test_loaders.rs
Due: none

Make syntax validation more detailed
  rust/tests/test_loaders.rs
Due: none

Use verbose rust backtrace
  .appveyor.yml
  .travis.yml
  ci/appveyor_template.yaml
  ci/travis_template.yaml
Due: ci-configurations

Configure build profile for release
  Cargo.toml
Due: none

Print build.rs to have rust compilation detail information
  .appveyor.yml
  .travis.yml
  ci/appveyor_template.yaml
  ci/travis_template.yaml
Due: ci-configurations

Remove redundant cache cleaning on travis
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Use modify url for timeout in order to make test_load_from_url_with_timeout_unfetchable_url test more stable
  rust/tests/test_loaders.rs
Due: none

Add runConfiguration to debug macros
  .idea/runConfigurations/_expand_macros__rustc_____Z_unstable_options___pretty_expanded.xml
  rust/src/lib.rs
Due: none

Enhance macros for error enums
  rust/src/errors.rs
  rust/src/lib.rs
  rust/src/loaders.rs
Due: none

Run cargo clippy while running lints
  .travis.yml
  ci/config.yaml
  ci/min-rustc-installed.py
  ci/travis_template.yaml
  tox.ini
Due: mypy, ci-configurations

Make cargo clippy fail if there are warnings
  .idea/runConfigurations/clippy_____Dwarnings.xml
  tox.ini
Due: none

Make clippy happy
  rust/src/lib.rs
  rust/src/loaders.rs
Due: none

Add draft4 and swagger 2.0 json schemas
  schema/draft4.json
  schema/swagger2.0.json
Due: none

Initial SwaggerSchema definition (rust-only)
  Cargo.toml
  rust/src/lib.rs
  rust/src/swagger_schema.rs
Due: none

Add swagger_schema tests
  rust/src/swagger_schema.rs
  rust/tests/luncher.rs
  rust/tests/test_swagger_schema.rs
Due: none

Add test-data swagger specs
  test-data/json-invalid-specs/swagger.json
  test-data/json-valid-specs/swagger.json
  test-data/yaml-invalid-specs/swagger.yaml
  test-data/yaml-valid-specs/swagger.yaml
Due: none

Prepare python package to expose type annotations (PEP561)
  setup.py
Due: mypy

Rename SwaggerSchema.swagger_schema into SwaggerSchema.schema
  rust/src/swagger_schema.rs
Due: none

Remove not-needed macro_export
  rust/src/errors.rs
Due: none

Move rust-python binding on dedicated modules (easier to reuse this library as pure rust library)
  rust/src/lib.rs
  rust/src/python/mod.rs
  rust/src/python/pyo3_built.rs
  rust/tests/luncher.rs
  rust/tests/test_python/mod.rs
Due: none

Define python_bindings rust feature
  Cargo.toml
  rust/src/lib.rs
  rust/tests/luncher.rs
  setup.py
Due: mypy

Update runConfigurations to include RUST_BACKTRACE=full env variable and to expose build with python_bindings feature
  .idea/codeStyles/Project.xml
  .idea/runConfigurations/_expand_macros__rustc_____Z_unstable_options___pretty_expanded.xml
  .idea/runConfigurations/build___lib.xml
  .idea/runConfigurations/build___lib___features_python_bindings.xml
  .idea/runConfigurations/build___lib___release.xml
  .idea/runConfigurations/test___features_python_bindings___tests.xml
  .idea/runConfigurations/test___tests.xml
Due: none

Add deny lint configurations into all rust files
  rust/src/lib.rs
  rust/src/python/mod.rs
  rust/src/python/pyo3_built.rs
Due: none

Run python coverage only in tox coverage target
  tox.ini
Due: none

Enhance coveragerc
  .coveragerc
Due: none

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Make sure to cleanup CI configurations if no tasks are present for the specific CI
  ci/ci-config.py
Due: mypy, ci-configurations

Use the most pedantic clippy configuration and make it happy
  .idea/runConfigurations/clippy_____Dwarnings.xml
  .idea/runConfigurations/clippy___all_targets___all_features_____D_clippy_pedantic__D_clippy_nursery.xml
  rust/src/swagger_schema.rs
  rust/tests/test_loaders.rs
  tox.ini
Due: none

Add run configuration to allow macro expansion
  .idea/runConfigurations/_expand_macros__rustc___all_features_____Z_external_macro_backtrace__Z_unstable_options___pretty_expanded.xml
Due: none

Add setuptools-rust dev dependency, so it will be installed in venv
  requirements-dev.txt
Due: none

Bump python versions used on OSX
  .travis.yml
  ci/ci-config.py
Due: mypy, ci-configurations

Unify Python and Rust testing to reduce number of parallel testing on AppVeyor and Travis
  .appveyor.yml
  .travis.yml
  ci/config.yaml
Due: ci-configurations

Minor rust project setup to make pyo3 present only if python_bindings is set and to make the compilation possible on python2.7
  Cargo.toml
  rust/src/lib.rs
Due: none

Initial SwaggerSpec object definition
  python/rust_swagger_validator/__main__.py
  rust/src/lib.rs
  rust/src/python/mod.rs
  rust/src/swagger_schema.rs
  rust/tests/test_python/mod.rs
  setup.py
Due: mypy

Define initialize_python_object macro to allow 'simple' PyObject init
  rust/src/python/object_macros.rs
Due: none

Reise Python exceptions instead of panicking
  python/rust_swagger_validator/__main__.py
  rust/src/python/mod.rs
Due: mypy

Path conditions:
  mypy: any of: ^.+\.py$
  ci-configurations: any of: ^(ci/.*|\.travis\.yml|\.appveyor\.yml|\.circleci/config\.yaml)$
