Repository macisamuele/rust-swagger-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ci-configurations

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.3.0
  hooks:
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix, --indent, '2']
    exclude: test-data/json-files-loaders-tests/invalid-\d+.json
  - id: check-yaml
    exclude: test-data/yaml-files-loaders-tests/invalid-\d+.yaml
  - id: check-ast
    language_version: python3.6
  - id: autopep8-wrapper
  - id: check-merge-conflict
  - id: check-docstring-first
  - id: debug-statements
    language_version: python3.6
  - id: double-quote-string-fixer
  - id: name-tests-test
  - id: flake8
    language_version: python3.6
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: requirements-txt-fixer
- repo: https://github.com/asottile/reorder_python_imports
  rev: v0.3.5
  hooks:
  - id: reorder-python-imports
    language_version: python3.6
- repo: https://github.com/asottile/pyupgrade
  rev: v1.4.0
  hooks:
  - id: pyupgrade
    language_version: python3.6
    args:
    - --py36-plus
    exclude: ^(ci/.*)$
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: 0eb66ec09c1089c84c92c22cbca6aa2b6edbe287
  hooks:
  - id: pretty-format-rust
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
    exclude: test-data/yaml-files-loaders-tests/invalid-\d+.yaml
  - id: pretty-format-ini
    args: [--autofix]
    files: ^(.coveragerc|.+\.(cfg|ini|toml))$
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy
    language: python
    language_version: python3.6
    additional_dependencies: [mypy==0.620]  # don't forget to bump the version in requirements-dev.txt too!
    files: ^.+\.py$
  - id: ci-configurations
    name: ci-configurations
    language: python
    language_version: python3.6
    additional_dependencies: [jsonschema>=2.6.0, ruamel.yaml]
    entry: python
    args:
    - ci/ci-config.py
    - --validate  # This is ignored for now but has to be addressed
    - --generate
    pass_filenames: false
    files: ^(ci/.*|\.travis\.yml|\.appveyor\.yml|\.circleci/config\.yaml)$

Rename rust classes with Rust-prefix
  .idea/runConfigurations/python_rust_swagger_validator___main___py.xml
  .idea/runConfigurations/setup_py_build_rust___inplace.xml
  python/rust_swagger_validator/__main__.py
  rust/src/python/mod.rs
Due: mypy

Default rust build to target/debug and create dedicated tox target
  .appveyor.yml
  .travis.yml
  ci/config.yaml
  tox.ini
Due: ci-configurations

More flexible tox environment strip for windows
  .appveyor.yml
  ci/ci-config.py
Due: mypy, ci-configurations

Define CACHE_KEY env variable for better caching
  .appveyor.yml
  .travis.yml
  ci/ci-config.py
Due: mypy, ci-configurations

Appveyor template update (install sccache and reorganize env variables)
  .appveyor.yml
  ci/appveyor_template.yaml
Due: ci-configurations

Enable sccache on Windows
  .appveyor.yml
  ci/appveyor_template.yaml
Due: ci-configurations

Use scoped lints from clippy
  rust/src/lib.rs
  rust/src/python/mod.rs
Due: none

travis template update (install sccache and reorganize env variables)
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Enable sccache on Linux and Mac
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Add tool to start debug build on travis
  .gitignore
  ci/debug-travis-build.sh
Due: ci-configurations

Clean cargo registry to make appveyor caching faster
  .appveyor.yml
  .travis.yml
  ci/appveyor_template.yaml
  ci/travis_template.yaml
Due: ci-configurations

Helper tool to clean appveyor cache
  .gitignore
  ci/delete-appveyor-cache.sh
Due: ci-configurations

Make travis debug helper use verbose curl without exposing secret token
  ci/debug-travis-build.sh
Due: ci-configurations

Update clippy CLI arguments
  .idea/runConfigurations/clippy___all_targets___all_features_____D_clippy_pedantic__D_clippy_nursery.xml
  tox.ini
Due: none

Cache sccahe directories on travis
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Use travis CLI tool to extract travis token for debug builds
  .gitignore
  ci/debug-travis-build.sh
Due: ci-configurations

No jobs executed on travis and appveyor
  .appveyor.yml
  .travis.yml
  ci/appveyor_template.yaml
  ci/travis_template.yaml
Due: ci-configurations

Cirlcle CI config, no template
  .circleci/config.yml
  README.md
Due: none

Build kcov in a tmp directory
  .circleci/config.yml
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Remove ${TRAVIS_BUILD_DIR}/kcov-v* directory from travis cache
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Add commands to install dependencies for the additional targets
  .circleci/config.yml
Due: none

Make curl commands more resilient against network issues
  .circleci/config.yml
  .travis.yml
  Dockerfile
  ci/travis_template.yaml
Due: ci-configurations

Show extensive git config
  .circleci/config.yml
Due: none

Add caching to CircleCI
  .circleci/config.yml
Due: none

Update cache version
  .circleci/config.yml
Due: none

Remove git anchestor complexity
  .circleci/config.yml
Due: none

Make cache dependent from env variables
  .circleci/config.yml
Due: none

Add circleci template (not linked yet)
  .appveyor.yml
  ci/appveyor_template.yaml
  ci/circleci_template.yaml
  ci/travis_template.yaml
Due: ci-configurations

Fix generator env mapping modifications
  ci/ci-config.py
Due: mypy, ci-configurations

ALLOW_FAILURE support in CircleCI Update TOXENVs in ci/config.yaml
  .appveyor.yml
  .circleci/config.yml
  .pre-commit-config.yaml
  .travis.yml
  ci/ci-config.py
  ci/circleci_template.yaml
  ci/config.yaml
Due: mypy, ci-configurations

Add libraries to allow correct build of kcov
  .circleci/config.yml
  ci/circleci_template.yaml
Due: ci-configurations

Restore CI run on all branches
  .appveyor.yml
  .travis.yml
  ci/appveyor_template.yaml
  ci/travis_template.yaml
Due: ci-configurations

Update CircleCI badge to point to master branch
  README.md
Due: none

Fix failure on travis when installing sccache
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Create tox target to generate wheels
  tox.ini
Due: none

Create single target to test wheels generation
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/config.yaml
Due: ci-configurations

Sort environment variables used as cache-key
  .circleci/config.yml
  ci/circleci_template.yaml
Due: ci-configurations

Artifacts on AppVeyor
  .appveyor.yml
  ci/appveyor_template.yaml
Due: ci-configurations

Artifacts on CircleCI
  .circleci/config.yml
  ci/circleci_template.yaml
Due: ci-configurations

Re-enable all tests and enable all wheels generation
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/config.yaml
Due: ci-configurations
