Repository macisamuele/rust-swagger-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ci-configurations

mypy:
  name: mypy
  entry: mypy
  language: python
  language_version: python3.6
  additional_dependencies:
  - mypy==0.620

ci-configurations:
  name: ci-configurations
  language: python
  language_version: python3.6
  additional_dependencies:
  - jsonschema>=2.6.0
  - ruamel.yaml
  entry: python
  args:
  - ci/ci-config.py
  - --validate
  - --generate
  pass_filenames: false

Merge release and wheel tox targets
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/config.yaml
  tox.ini
Due: ci-configurations

Upload coverage data via CircleCI
  .circleci/config.yml
  ci/circleci_template.yaml
Due: ci-configurations

Linux tests are executed on CircleCI only
  .travis.yml
  README.md
  ci/ci-config.py
Due: mypy, ci-configurations

Combine wheel generation in testing tasks (reduce amount of builds)
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/appveyor_template.yaml
  ci/config.yaml
Due: ci-configurations

Remove CACHE_KEY env variable (it was not needed)
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/ci-config.py
Due: mypy, ci-configurations

Fix grep command in appveyor to correctly upload the artifact
  .appveyor.yml
  ci/appveyor_template.yaml
Due: ci-configurations

Remove --py36-plus flag from pyupgrade to preserve python 2 compatibility
  .pre-commit-config.yaml
Due: none

Add future imports
  .pre-commit-config.yaml
Due: none

Fix encoding pragma
  .pre-commit-config.yaml
Due: none

Use mypy with python2.7 compatibility
  .pre-commit-config.yaml
  ci/ci-config.py
  mypy.ini
  python/rust_swagger_validator/__main__.py
Due: mypy, ci-configurations

pre-commit run --all-files
  ci/min-rustc-installed.py
  python/rust_swagger_validator/__init__.py
  python/tests/rust_swagger_validator_test.py
  setup.py
Due: mypy, ci-configurations

Add pylint support
  pylintrc
  python/rust_swagger_validator/__init__.py
  python/rust_swagger_validator/__main__.py
  requirements-dev.txt
  tox.ini
Due: mypy

Install from wheel to guarantee that wheels are valid
  tox.ini
Due: none

Ignore python/rust_swagger_validator/__main__.py from coverage
  .coveragerc
Due: none

Single and quick job on CircleCI only
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/config.yaml
Due: ci-configurations

Try to enable sccache on CircleCI
  .circleci/config.yml
  ci/circleci_template.yaml
Due: ci-configurations

All commands take advantage of sccache
  .idea/runConfigurations/_expand_macros__rustc___all_features_____Z_external_macro_backtrace__Z_unstable_options___pretty_expanded.xml
  .idea/runConfigurations/build___lib.xml
  .idea/runConfigurations/build___lib___features_python_bindings.xml
  .idea/runConfigurations/build___lib___release.xml
  .idea/runConfigurations/clippy___all_targets___all_features_____D_clippy_pedantic__D_clippy_nursery.xml
  .idea/runConfigurations/python_rust_swagger_validator___main___py.xml
  .idea/runConfigurations/setup_py_build_rust___inplace.xml
  .idea/runConfigurations/test___features_python_bindings___tests.xml
  .idea/runConfigurations/test___tests.xml
Due: none

Define SwaggerSpec Python object
  python/rust_swagger_validator/__main__.py
  python/rust_swagger_validator/swagger_spec.py
Due: mypy

Remove lint configuration on each file, it won't be used anyway (lint configs should be defined in lib.rs only)
  rust/src/errors.rs
  rust/src/loaders.rs
  rust/src/python/mod.rs
  rust/src/python/object_macros.rs
  rust/src/python/pyo3_built.rs
  rust/src/swagger_schema.rs
Due: none

Define base class in rust
  python/rust_swagger_validator/__main__.py
  rust/src/python/mod.rs
Due: mypy

Fix python methods access (broken due to subclassing)
  python/rust_swagger_validator/__main__.py
Due: mypy

Remove extern_prelude
  rust/src/lib.rs
  rust/src/loaders.rs
  rust/tests/luncher.rs
  rust/tests/test_loaders.rs
Due: none

Run all tests on travis-ci
  .travis.yml
  ci/ci-config.py
Due: mypy, ci-configurations

No sudo for python3.7 on linux
  .travis.yml
  ci/ci-config.py
Due: mypy, ci-configurations

Bump pyo3 version
  Cargo.toml
  rust/src/lib.rs
  rust/src/python/mod.rs
  rust/src/python/object_macros.rs
  rust/src/python/pyo3_built.rs
Due: none

Add lint makefile target
  Makefile
  ci/ci-config.py
  rust/src/python/mod.rs
  rust/tests/test_python/mod.rs
  rust/tests/test_swagger_schema.rs
Due: mypy, ci-configurations

Export lint tox environment on Makefile
  Makefile
Due: none

Remove 100% coverage constraint
  .coveragerc
  rust/tests/test_loaders.rs
Due: none

Fix Travis OSX build
  .travis.yml
  ci/travis_template.yaml
Due: ci-configurations

Run windows tests only
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  ci/config.yaml
Due: ci-configurations

Run only appveyor up to failure
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
Due: ci-configurations

Bump pre-commit hooks
  .pre-commit-config.yaml
  rust/src/lib.rs
  rust/src/loaders.rs
  rust/src/python/mod.rs
  rust/src/python/object_macros.rs
  rust/src/python/pyo3_built.rs
  rust/tests/luncher.rs
  rust/tests/test_loaders.rs
  rust/tests/test_python/mod.rs
  rust/tests/test_swagger_schema.rs
Due: none

Bump dependencies
  Cargo.toml
  rust/src/loaders.rs
Due: none

Path conditions:
  mypy: any of: ^.+\.py$
  ci-configurations: any of: ^(ci/.*|\.travis\.yml|\.appveyor\.yml|\.circleci/config\.yaml)$
